{% extends 'base.html' %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <table class="table">
        <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Description</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.price|float }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.created }}</td>
        <td>
            <a href="{{ url_for('editBook', id=book.id) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            <a href="{{ url_for('deleteBook', id=book.id) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </td>
    </tr>   
    {% endfor %}
    </table>
{% endblock %}